
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="border border-primary mt-4 col-md-4">
    <h5 class="card-title text-center mt-2">Okunmamış Bildirim Sayısı</h5>
    <p class="card-text text-center font-weight-bold text-danger" style="font-size:25px;">@ViewBag.OkunmayanBildirimSayisi</p>

</div>

<div class="border border-primary mt-4 col-md-4">
    <h5 class="card-title text-center mt-2">Aktif Görev Sayısı</h5>
    <p class="card-text text-center font-weight-bold text-danger" style="font-size:25px;">@ViewBag.Görev</p>

</div>


<div class="border border-primary mt-4 col-md-4">
    <h5 class="card-title text-center mt-2">Atanmamış Görev Sayısı</h5>
    <p class="card-text text-center font-weight-bold text-danger" style="font-size:25px;">@ViewBag.AtanmamisGorevSayisi</p>

</div>


<div class="border border-primary mt-4 col-md-4">
    <h5 class="card-title text-center mt-2">Tamamlanmış Görev Sayısı</h5>
    <p class="card-text text-center font-weight-bold text-danger" style="font-size:25px;">@ViewBag.TamamlanmisGorevSayisi</p>

</div>
<div class="border border-primary mt-4 col-md-4">
    <h5 class="card-title text-center mt-2">Tamamlanmış Görev Sayısı</h5>
    <p class="card-text text-center font-weight-bold text-danger" style="font-size:25px;">@ViewBag.ToplamRaporSayisi</p>

</div>



